

.头部{
	text-align:center;
	padding:1em;
}
.大标题{
	font-size:3em;
}
.着重{
	font-weight:800;
}
.大标题:before{
	content:'「'
}
.大标题:after{
	content:'」'
}
.引用{
	text-indent:1em;
	background:#F8F8F8;
	padding:1.5em;
	margin:1em 0;
	position:relative;
}
.引用:before{
	content:attr(id);
	position:absolute;top:.2em;left:.4em;
	color:#999;
	font-size:12px;
	text-indent:0;
}

.标题二{
	margin:2em 0 0;
}
.段落{
	text-indent:1em;
}
.有序列表{
	padding:1em 2em;
}
.列表项{
	padding:.5em;
}
.头部 .副标题{
	color:#999;
}

.源代码{
	background:#222;
	color:#FFF;
}
.代码{
	background:#EEE;
	color:#666;
	text-shadow:0 1px 0 #CCC;
	padding:.2em .5em;
	margin:0 .5em;
	border-radius:.3em;
}
.删除{
	opacity:.3;
	font-size:.8em;
	margin:0 -.3em;
}
.尾部{
	padding:2em;
}
.二维码{
	width:100px;
	height:100px;
	margin:0 auto;
	display:block;
}

.时间{
	font-size:.8em;
	color:#999;
}

.引用列表{
	font-size:.8em;
}
.引用列表 .列表项{
	padding:.2em;
}

body{
	max-width:38em;
	margin:0 auto;
}